{
  "extends": "airbnb",
  "parserOptions": {
    "ecmaVersion": 6,
    "sourceType": "module",
    "ecmaFeatures": {
        "jsx": true,
        "experimentalObjectRestSpread": true
    }
  },
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "comma-dangle": 0,
    "arrow-body-style": ["error", "as-needed"]
  }
}
